{% extends "base.html" %}

{% block content %}
<h2>Document Templates</h2>
<!-- Link to create a new template -->
<a href="{% url 'create_template' %}">Create New Template</a>
<ul>
    {% for template in templates %}
    <li>
        {{ template.name }}
        <!-- Link to edit the template -->
        <a href="{% url 'edit_template' template.id %}">Edit</a>
        <!-- Link to generate a PDF from the template -->
        <a href="{% url 'generate_document' template.id %}">Generate PDF</a>
    </li>
    {% endfor %}
</ul>
{% endblock %}
